/Year2/IPC/practs/EjercicioLogin/nbproject/private/
/Year2/IPC/practs/EjercicioLogin/build/
/Year2/IPC/practs/EjercicioLogin/dist/
/Year2/IPC/practs/Calculator/nbproject/private/
/Year2/IPC/practs/tikTakToe/dist/
/Year2/IPC/practs/tikTakToe/build/
/Year2/IPC/practs/TikTakToePract1/nbproject/private/
/Year2/IPC/practs/TikTakToePract1/build/
/Year2/IPC/practs/AddingHandlersExample/nbproject/private/
/Year2/IPC/practs/CircleFXMl/nbproject/private/
/Year2/IPC/practs/CircleFXMl/build/
/Year2/IPC/practs/Circle/nbproject/private/
/Year2/IPC/practs/Circle/build/
/Year2/IPC/practs/AddingHandlersExample/build/
/Year2/IPC/practs/CircleFXMl/dist/
/Year2/IPC/practs/AddingHandlersExample/dist/
/Year2/IPC/practs/TikTakToePract1/dist/
/Year2/IPC/practs/JFXNoughtsCrossesBasicoSinFuncionalidad/nbproject/private/
/Year2/IPC/practs/JFXNoughtsCrossesBasicoSinFuncionalidad/dist/
/Year2/IPC/practs/JFXNoughtsCrossesBasicoSinFuncionalidad/build/
/Year2/IPC/practs/JavaFXSliderTextField/nbproject/private/
/Year2/IPC/practs/JavaFXSliderTextFieldBind/nbproject/private/
/Year2/IPC/practs/JavaFXSliderTextFieldBind/dist/
/Year2/IPC/practs/JavaFXSliderTextFieldBind/build/
/Year2/IPC/practs/rectableResponseBindings/nbproject/private/
/Year2/IPC/practs/rectableResponseBindings/build/
/Year2/IPC/practs/rectableResponseBindings/dist/
/Year2/IPC/practs/ExPract2/nbproject/private/
/Year2/IPC/practs/ExPract2/build/
/Year2/IPC/practs/ExPract2/dist/
/Year2/IPC/practs/ExExtraPract2/nbproject/private/
/Year2/IPC/practs/ExExtraPract2/build/
/Year2/IPC/practs/ExExtraPract2/dist/
/Year2/IPC/practs/pract3/JavaFXExampleListView/nbproject/private/
/Year2/IPC/practs/pract3/JavaFXExampleListViewImages/nbproject/private/
/Year2/IPC/practs/pract3/JavaFXExampleListViewToDetails/nbproject/private/
/Year2/IPC/practs/pract3/JavaFXExampleListViewWithOutCellFactory/nbproject/private/
/Year2/IPC/practs/pract3/JavaFXExampleListView/build/
/Year2/IPC/practs/pract3/JavaFXExampleListView/dist/
/Year2/IPC/practs/pract3/JavaFXExampleListViewImages/dist/
/Year2/IPC/practs/pract3/JavaFXExampleListViewImages/build/
/Year2/IPC/practs/pract3/JavaFXExampleListViewToDetails/dist/
/Year2/IPC/practs/pract3/JavaFXExampleListViewToDetails/build/
/Year2/IPC/practs/pract3/JavaFXExampleTable/nbproject/private/
/Year2/IPC/practs/pract3/JavaFXExampleTable/build/
/Year2/IPC/practs/pract3/JavaFXExampleTable/dist/
/Year2/IPC/practs/pract3/JavaFXExampleListViewWithOutCellFactory/dist/
/Year2/IPC/practs/pract3/JavaFXExampleListViewWithOutCellFactory/build/
/Year2/IPC/practs/pract3/JavaFXExampleListViewToDetails_2/build/
/Year2/IPC/practs/pract3/JavaFXExampleListViewToDetails_2/dist/
/Year2/IPC/practs/pract3/JavaFXExampleListViewToDetails_2/nbproject/private/
/Year2/IPC/practs/Connect4/nbproject/private/
/Year2/IPC/practs/Connect4/build/
/Year2/IPC/practs/Connect4/dist/
/Year2/IPC/practs/JavaFXPruebas/nbproject/private/
/Year2/IPC/practs/JavaFXPruebas/build/
/Year2/IPC/practs/JavaFXPruebas/dist/
/Year2/IPC/practs/pract5/IPC-Calculator/nbproject/private/
/Year2/IPC/practs/pract5/IPC-Calculator/build/
/Year2/IPC/practs/pract5/IPC-Calculator/dist/
/Year2/IPC/practs/pract6/nbproject/private/
/Year2/IPC/practs/pract6/build/
/Year2/IPC/practs/pract6_2/nbproject/private/
/Year2/IPC/practs/pract6_2/build/
/Year2/IPC/practs/pract6_2/dist/
/Year2/IPC/practs/JavaFXSliderTextField/build/
/Year2/IPC/practs/JavaFXSliderTextField/dist/
/Year2/IPC/practs/Dialogs/nbproject/private/
/Year2/IPC/practs/Dialogs/dist/
/Year2/IPC/practs/Dialogs/build/
/Year2/IPC/practs/IPC_ YourLoginUPV/nbproject/private/
/Year2/IPC/practs/IPC_ YourLoginUPV/build/
/Year2/IPC/practs/IPC_ YourLoginUPV/dist/
