/Year2/IPC/practs/EjercicioLogin/nbproject/private/
/Year2/IPC/practs/EjercicioLogin/build/
/Year2/IPC/practs/EjercicioLogin/dist/
/Year2/IPC/practs/Calculator/nbproject/private/
/Year2/IPC/practs/tikTakToe/dist/
/Year2/IPC/practs/tikTakToe/build/
/Year2/IPC/practs/TikTakToePract1/nbproject/private/
/Year2/IPC/practs/TikTakToePract1/build/
/Year2/IPC/practs/AddingHandlersExample/nbproject/private/
/Year2/IPC/practs/CircleFXMl/nbproject/private/
/Year2/IPC/practs/CircleFXMl/build/
/Year2/IPC/practs/Circle/nbproject/private/
/Year2/IPC/practs/Circle/build/
/Year2/IPC/practs/AddingHandlersExample/build/
/Year2/IPC/practs/CircleFXMl/dist/
/Year2/IPC/practs/AddingHandlersExample/dist/
/Year2/IPC/practs/TikTakToePract1/dist/
/Year2/IPC/practs/JFXNoughtsCrossesBasicoSinFuncionalidad/nbproject/private/
/Year2/IPC/practs/JFXNoughtsCrossesBasicoSinFuncionalidad/dist/
/Year2/IPC/practs/JFXNoughtsCrossesBasicoSinFuncionalidad/build/
/Year2/IPC/practs/JavaFXSliderTextField/nbproject/private/
/Year2/IPC/practs/JavaFXSliderTextFieldBind/nbproject/private/
/Year2/IPC/practs/JavaFXSliderTextFieldBind/dist/
/Year2/IPC/practs/JavaFXSliderTextFieldBind/build/
/Year2/IPC/practs/rectableResponseBindings/nbproject/private/
/Year2/IPC/practs/rectableResponseBindings/build/
/Year2/IPC/practs/rectableResponseBindings/dist/
/Year2/IPC/practs/ExPract2/nbproject/private/
/Year2/IPC/practs/ExPract2/build/
/Year2/IPC/practs/ExPract2/dist/
/Year2/IPC/practs/ExExtraPract2/nbproject/private/
/Year2/IPC/practs/ExExtraPract2/build/
/Year2/IPC/practs/ExExtraPract2/dist/
/Year2/IPC/practs/pract3/JavaFXExampleListView/nbproject/private/
/Year2/IPC/practs/pract3/JavaFXExampleListViewImages/nbproject/private/
/Year2/IPC/practs/pract3/JavaFXExampleListViewToDetails/nbproject/private/
/Year2/IPC/practs/pract3/JavaFXExampleListViewWithOutCellFactory/nbproject/private/
/Year2/IPC/practs/pract3/JavaFXExampleListView/build/
/Year2/IPC/practs/pract3/JavaFXExampleListView/dist/
/Year2/IPC/practs/pract3/JavaFXExampleListViewImages/dist/
/Year2/IPC/practs/pract3/JavaFXExampleListViewImages/build/
/Year2/IPC/practs/pract3/JavaFXExampleListViewToDetails/dist/
/Year2/IPC/practs/pract3/JavaFXExampleListViewToDetails/build/
