/Year2/IPC/practs/EjercicioLogin/nbproject/private/
/Year2/IPC/practs/EjercicioLogin/build/
/Year2/IPC/practs/EjercicioLogin/dist/
/Year2/IPC/practs/Calculator/nbproject/private/
/Year2/IPC/practs/tikTakToe/dist/
/Year2/IPC/practs/tikTakToe/build/
/Year2/IPC/practs/TikTakToePract1/nbproject/private/
/Year2/IPC/practs/TikTakToePract1/build/
/Year2/IPC/practs/AddingHandlersExample/nbproject/private/
/Year2/IPC/practs/CircleFXMl/nbproject/private/
/Year2/IPC/practs/CircleFXMl/build/
/Year2/IPC/practs/Circle/nbproject/private/
/Year2/IPC/practs/Circle/build/
/Year2/IPC/practs/AddingHandlersExample/build/
/Year2/IPC/practs/CircleFXMl/dist/
/Year2/IPC/practs/AddingHandlersExample/dist/
