/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 4, 2021, 7:05:13 PM
    Author     : axemt
*/
.root {
    -fx-background-color: whitesmoke;
    -fx-font-color: white;
}

.button {
    -fx-background-color: #0481FF;
    -fx-text-fill: white;
    -fx-background-radius: 16px;   
    
}

#button-stop{
    -fx-background-color: #BC2121;
}

.button:hover , .button:focused {
    -fx-background-color: #0061C4;    
}

.rectangle {
    -fx-fill: lightwhite;
}
#VBox-playerStandard{
    -fx-background-color: whitesmoke;
}
#VBox-player1 {
    -fx-background-color: #ffe6e6;
}
#VBox-player2 {
    -fx-background-color: #ffffe6;
}
#VBox-AI {
    -fx-background-color: LightBLUE;
}
/*
.text-field {
    
}
*/
.text-search {
    -fx-background-radius: 16px;
}

.hyperlink {
    -fx-text-fill: blue;
}

.custom-node {
    -fx-background-color: skyblue, derive(skyblue, 25%);
    -fx-background-insets: -20, -10;
    
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}
.banner {
    -fx-background-color: #095CBB

}

.menuBar {
    -fx-background-color: #54DBFC;
    -fx-text-fill: white;
}
.menu {
    -fx-text-fill: white;
}
.tab-pane *.tab-header-background {
    -fx-background-color: #095CBB;
}
.tab {
    -fx-background-color: #C9E4FF; 
}
.tab .tab-label{
    -fx-text-fill: black;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {-fx-border-color: black}

/*
#select-image {
    -fx-background-color: skyblue, derive(skyblue, 25%);
    -fx-background-insets: -20, -10;   
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}
*/




.table-row-cell:empty, .table-cell:empty:hover {
    -fx-background-color: whitesmoke;
}
 

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}


.table-view:row-selection .table-row-cell:filled:hover { 
    -fx-background-color: lightblue;
}

.table-view:row-selection .table-row-cell:filled:selected:hover { 
    -fx-background-color: lightblue;
}
fasf
.table-view:row-selection .table-row-cell:filled:selected { 
    -fx-background-color: lightblue;
}


.table-view, .table-view:focused {
  -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
}
 

.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}



.table-view .column-header, .table-view .filler {
    -fx-background-color: #0481FF;    
    -fx-size: 45;
    -fx-border-color: -fx-box-border;
    -fx-border-width: 0 1 3 0;
    -fx-border-insets: 0;
}


.table-view .column-header-background {
    -fx-background-color: transparent;
}


